{{ header }}

<link href="catalog/view/theme/default/stylesheet/custom/home.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">

<div class="bg-cover" style="background-image: url(image/catalog/default/home_banner.jpg);">
	<div class="overlay-bg"></div>
	<div class="d-container">
		<div class="header-content">
			<h1>Flavor Blends Real Taste</h1>
			<h4>The Passion For The Perfect Taste</h4>
			<button class="button1 btn-banner">Learn More</button>
		</div>
	</div>
</div>

<div class="bg-cover" style="background-image: linear-gradient(to right, #F2F2F2 20%, transparent 90%), url('image/catalog/default/history_background.jpg')">
    <div class="d-container">
        <div class="our-history">
            <h1>Our Story</h1>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
            <br>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
            <div style="text-align:center;">
            <button class="button1 btn-history">Our Menu</button>
            </div>
        </div>
    </div>
</div>
{# {{ footer }} #}