{{ header }}

<link href="catalog/view/theme/default/stylesheet/custom/home.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">

<div class="bg-cover" style="background-image: url(image/catalog/default/11.jpg);">
	<div class="overlay-bg"></div>
	<div class="d-container">
		<div class="header-content">
			<h1>Real Taste Real Food</h1>
			<h4>The Passion For The Perfect Taste</h4>
			<button class="btn-banner">Learn More</button>
		</div>
	</div>
</div>
{# {{ footer }} #}