{{ header }}

<link href="catalog/view/theme/default/stylesheet/custom/home.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

<!-- Mainbanner -->
<div class="bg-cover bg-mainbanner" style="background-image: url(image/catalog/default/home_banner.jpg);">
	<div class="overlay-bg"></div>
	<div class="d-container">
		<div class="header-content">
			<h1>Flavor Blends Real Taste</h1>
			<h4>The Passion For The Perfect Taste</h4>
			<button class="button1 btn-banner">Learn More</button>
		</div>
	</div>
</div>

<!-- Our history -->
<div class="bg-cover" style="background-image: linear-gradient(to right, #F2F2F2 20%, transparent 90%), url('image/catalog/default/history_background.jpg')">
    <div class="d-container">
        <div class="our-history">
            <h1>Our Story</h1>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
            <br>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
            <div class="text-center">
            <button class="button1 btn-history">Our Menu</button>
            </div>
        </div>
    </div>
</div>

<!-- Our Menu -->
<div class="bg-cover" style="background-image: url('image/catalog/default/our_menu_background.jpg'); background-size:center center;">
    <div class="overlay-bg-white"></div>
    <div class="d-container our-menu-container-width">
        <div class="our-menu">
            <h1>Our Menu</h1>
            <h2>Flavors of Many Kind</h2>
            <br>
            <br>
            <div class="col-md-6" style="margin-bottom:40px;">
                <img src="image/catalog/default/menu_background1.jpg" class="img-responsive">
                <h2>Item 1</h2>
                <h4 class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
                <h3>$9.00</h3>
            </div>
            <div class="col-md-6" style="margin-bottom:40px;">
                <img src="image/catalog/default/menu_background2.jpg" class="img-responsive">
                <h2>Item 2</h2>
                <h4 class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
                <h3>$10.00</h3>
            </div>
            <div class="col-md-6">
                <img src="image/catalog/default/menu_background3.jpg" class="img-responsive">
                <h2>Item 3</h2>
                <h4 class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
                <h3>$11.00</h3>
            </div>
            <div class="col-md-6">
                <img src="image/catalog/default/menu_background4.jpg" class="img-responsive">
                <h2>Item 4</h2>
                <h4 class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
                <h3>$12.00</h3>
            </div>
        </div>
    </div>
</div>

<!-- Operating Hours -->
<div class="bg-cover bg-parallax-operating-hours" style="background-image: url('image/catalog/default/operating_hours_background.jpg'); background-size:center center;">
    <div class="overlay-bg operating-hours-overlay-bg-opacity"></div>
    <div class="d-container operating-hour-container-width">
        <div class="operating-hours">
            <h1>Operating Hours</h1>
            <h2>Call For Delivery</h2>
            <br><br>
            <div class="col-md-6" style="border-right:1px dashed #FDBC30;">
                <h2>Monday to Friday</h2>
                <h1>09:00<br><br>22:00</h1>
            </div>
            <div class="col-md-6">
                <h2>Saturday to Sunday</h2>
                <h1>09:00<br><br>23:00</h1>
            </div>
            <div class="col-md-12" style="margin-top:60px;">
                <h2>+6 (012) 345-6789</h2>
            </div>
        </div>
    </div>
</div>
{# {{ footer }} #}