{{ header }}

<link href="catalog/view/theme/default/stylesheet/custom/home.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">

<div class="bg-cover" style="background-image: url(image/catalog/default/bubble_tea.jpg);">
	<div class="overlay-bg"></div>
	<div class="d-container">
		<div class="header-content">
			<h1>Flavor Blends Real Taste</h1>
			<h4>The Passion For The Perfect Taste</h4>
			<button class="btn-banner">Learn More</button>
		</div>
	</div>
</div>

<div class="our-history">
	<div class="d-container">
		<div class="row">
			<div class="col-md-6">
				<div class="our-history-content">
					<h1 style="background:url(image/catalog/default/title-line.png) no-repeat center 80px;">Our History</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.
					</p>
					<button class="btn-history">View Full Story</button>
				</div>
			</div>
			<div class="col-md-6">
				<img src="image/catalog/default/our-history.jpg" class="img-responsive" style="height:330px;">
			</div>
		</div>
	</div>
</div>
{# {{ footer }} #}