{{ header }}

<link href="catalog/view/theme/default/stylesheet/custom/home.css" rel="stylesheet">

<div class="m-container">
    <label class="m-label">This is a mobile</label>
</div>
{{ footer }}