.bg-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%; 
	height:100vh;
	align-items:center!important; 
	display:flex!important;
	position: relative;
	z-index: 0;
}

.overlay-bg {
	background:#000000;
	opacity:0.3;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -1;
}

.header-content {
	color: #FFFFFF;
}

.header-content h1 {
	font-weight:800;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

.btn-banner {
	margin-top:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
	border:2px solid #FFFFFF;
	border-radius:5px;
	outline: none;
	background: none;
	font-weight: 700;
}

.btn-banner:hover, .btn-banner:focus {
	border:2px solid #FFCFAC;
	color:#FFCFAC;
	outline: none;
}

.m-label {
	color: #009933;
}

.t-label {
	color: blue;
}