/* Main Banner */
.bg-mainbanner {
	height:100vh;
}

.header-content {
	color: #FFFFFF;
	z-index: 2;
}

.header-content h1 {
	margin-bottom:20px;
	font-weight:800;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

.btn-banner {
	border:2px solid #FFFFFF;
}

.btn-banner:hover, .btn-banner:focus {
	border:2px solid #FDBC30;
	color:#FDBC30;
	outline: none;
}


/* Our History */
.our-history {
	width:55%; 
	padding-top:120px;
	padding-bottom:120px;
}

.our-history h1 {
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif; 
	color:#FDBC30;
}

.our-history h4, .btn-history {
	color: #000000;
}

.btn-history {
	border:2px solid #000000;
}

.btn-history:hover, .btn-history:focus {
	border:2px solid #FDBC30;
	color:#FDBC30;
	outline: none;
}


/* Operating Hours */
.bg-parallax-operating-hours {
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	height:100%;
}

.operating-hour-container-width {
	width:100%;
}

.operating-hours-overlay-bg-opacity {
	opacity:0.7;
}

.operating-hours {
	width:80%; 
	padding-top:120px;
	padding-bottom:80px;
	margin-left:auto;
	margin-right:auto;
	display: table;
	text-align: center;
}

.operating-hours h1 {
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif; 
	text-transform: uppercase;
	color:#FFFFFF;
}

.operating-hours h2 {
	margin-bottom: 40px;
	font-family: 'Lobster', cursive; 
	font-style: oblique;
	color:#FDBC30;
}


.m-label {
	color: #009933;
}

.t-label {
	color: blue;
}
