/* Main Banner */
.bg-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%; 
	height:100vh;
	align-items:center!important; 
	display:flex!important;
	position: relative;
	z-index: 0;
}

.overlay-bg {
	background:#000000;
	opacity:0.3;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -1;
}

.header-content {
	color: #FFFFFF;
	z-index: 2;
}

.header-content h1 {
	margin-bottom:20px;
	font-weight:800;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

.btn-banner {
	border:2px solid #FFFFFF;
}

.btn-banner:hover, .btn-banner:focus {
	border:2px solid #FDBC30;
	color:#FDBC30;
	outline: none;
}


/* Our History */
.our-history {
	width:55%; 
}

.our-history h1 {
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif; 
	color:#FDBC30;
}

.our-history h4 {
	color: #000000;
}

.btn-history {
	border:2px solid #000000;
	color:#000000;
}

.btn-history:hover, .btn-history:focus {
	border:2px solid #FDBC30;
	color:#FDBC30;
	outline: none;
}

.m-label {
	color: #009933;
}

.t-label {
	color: blue;
}
